<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <meta charset="UTF-8" />
      <title>Перечень элементов (ПЭ3)</title>
      <link rel="stylesheet" type="text/css" href="D:/Workshop/work/component-pr/src/main/resources/static/css/pages.css"/>
      <link rel="stylesheet" type="text/css" href="css/pages.css"/>
      <script type="text/javascript" src="D:/Workshop/work/component-pr/src/main/resources/static/setRadioButton.js"></script>
      <script type="text/javascript" src="/setRadioButton.js"></script>
   </head>
   <body>
      <div th:insert="~{/index :: mainMenu}"></div>
      <table th:fragment="subMenu" class="subMenu">
         <tr>
            <th class="subMenu"><a href="/documentPage">Перечень элементов (ПЭ3)</a></th>
            <th class="subMenu"><a href="/doc2Page">Спецификация</a></th>
            <th class="subMenu"><a href="/doc3Page">Ведомость покупных (ВП)</a></th>
         </tr>
      </table>
      <br/>
      <br/>
      <div th:each ="item : ${items}"> 
         <b class="itemTableHeader" th:text="'Изделие ' + ${item.name}">Изделие УТП</b>
         <table class="itemTable">
            <form action="/componentList" method="get">
               <input type="hidden" name="item" th:value="${item.name}"/>
               <tr>
                  <th class="left w1 padd" th:text="${item.name}">364</th>
                  <th class="left w2 bord">
                     <select name="unit" onclick="setRadioButton(this)">
                        <option th:each ="unit : ${item.units}" th:value="${unit}" th:text="${unit}">прибор</option>
                     </select>
                  </th>
                  <th><input type="radio" name="u_sel" value="true" checked/></th>
                  <th>СС type</th>
                  <th>С.mode</th>
                  <th colspan="4">примечания</th>
                  <th></th>
                  <th></th>
               </tr>
               <tr>
                  <th class="left w1 padd" th:text="${item.name} + ' (КО)'">364 (КО)</th>
                  <th class="left w2 bord">
                     <select name="ctrl" onclick="setRadioButton(this)">
                        <option th:each ="contr : ${item.contrs}" th:value="${contr}" th:text="${contr}">УЖБИ.468157.031</option>
                     </select>
                  </th>
                  <th><input type="radio" name="u_sel" value="false" /></th>
                  <th>
                     <select name="cc_manuf">
                        <option value="kemet">Kemet</option>
                        <option value="murata">Murata</option>
                        <option value="avx">AVX</option>
                     </select> 
                  </th>
                  <th>
                     <select name="c_mode">
                        <option value="full">full</option>
                        <option value="part">part</option>
                     </select> 
                  </th>
                  <th>
                     <select name="c_lines">
                        <option value="0">С.0</option>
                        <option value="1">С.1</option>
                        <option value="2">С.2</option>
                        <option value="3">С.3</option>
                        <option value="4">С.4</option>
                        <option value="5">С.5</option>
                        <option value="6">С.6</option>
                        <option value="7">С.7</option>
                        <option value="8">С.8</option>
                        <option value="9">С.9</option>
                     </select> 
                  </th>
                  <th>
                     <select name="d_lines">
                        <option value="0">D.0</option>
                        <option value="1">D.1</option>
                        <option value="2">D.2</option>
                        <option value="3">D.3</option>
                        <option value="4">D.4</option>
                        <option value="5">D.5</option>
                        <option value="6">D.6</option>
                        <option value="7">D.7</option>
                        <option value="8">D.8</option>
                        <option value="9">D.9</option>
                     </select> 
                  </th>
                  <th>
                     <select name="r_lines">
                        <option value="0">R.0</option>
                        <option value="1">R.1</option>
                        <option value="2">R.2</option>
                        <option value="3">R.3</option>
                        <option value="4">R.4</option>
                        <option value="5">R.5</option>
                        <option value="6">R.6</option>
                        <option value="7">R.7</option>
                        <option value="8">R.8</option>
                        <option value="9">R.9</option>
                     </select> 
                  </th>
                  <th>
                     <select name="u_lines">
                        <option value="0">U.0</option>
                        <option value="1">U.1</option>
                        <option value="2">U.2</option>
                        <option value="3">U.3</option>
                        <option value="4">U.4</option>
                        <option value="5">U.5</option>
                        <option value="6">U.6</option>
                        <option value="7">U.7</option>
                        <option value="8">U.8</option>
                        <option value="9">U.9</option>
                     </select> 
                  </th>
                  <th><input type="submit" value="Создать" name="act" /></th>
                  <th><input type="submit" value="Экспорт.." name="act" /></th>
               </tr>    
            </form>
         </table>
         <br/>
         <br/>
      </div>
   </body>
</html>